# Android Studio / IntelliJ IDEA
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
*.iml

# Android / Build
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
.DS_Store

# Kotlin
.kotlin/

# Gradle
/gradle/gradle-daemon-jvm.properties
